<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
    <link rel='stylesheet' href='/css/movieDetail.css' />
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %></h1>
    <br>
    <p>RATING: <%= movie.rating %></p>
    <p>AWARDS: <%= movie.awards %></p>
    <p>LENGTH: <%= movie.length + ' min' %></p>
    <p>RELEASE DATE: <%= movie.release_date %></p>
    <br>
        <section class="button-section">
            <!-- Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas -->
            <a class="botonModificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
            <a class="botonBorrar" href="/movies/delete/<%= movie.id %>">Borrar</a>
            <a class="botonAgregar" href="/movies/add">Agregar</a>
            <a class="botonVolver" href="/movies">Listado de Películas</a>
        </section>
</body>
</html>
